// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                        CSS VARIABLES                           //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//FONT VARIABLES
$baseFamily: "dico-typewriter";

$baseFont: 1rem;

//SPACERS
$sp1: 0.25rem;
$sp2: 0.5rem;
$sp3: 1rem;
$sp4: 1.5rem;
$sp5: 3rem;
$sp6: 4rem;
$sp7: 5rem;

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            IMPORTS                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
@import "bootstrap/scss/bootstrap.scss";

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            GENERAL                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
html {
}

body {
  font-family: $baseFamily;
  font-size: $baseFont;
  overflow-x: hidden;
  overflow-y: hidden;
  //background: black;
}

.mainText {
  color: white;
  mix-blend-mode: difference;
  letter-spacing: 0.05rem;
}

.link {
  &:hover {
    .linkHide {
      display: none;
    }

    .linkShow {
      display: inline;
    }
  }

  .linkHide {
    color: grey;
  }

  .linkShow {
    display: none;
    color: lightgrey;
  }
}

.super {
  vertical-align: super;
  letter-spacing: 0.25rem;
  font-weight: 700;

  &:hover {
    cursor: pointer;

    .one {
      color: #ef38df;
      //background: #ef38df;
    }

    .two {
      color: #2aeaff;
      //background: #2aeaff;
    }
  }
}

.rotate {
  transform: rotateZ(1.3deg);
}

.bg {
  visibility: hidden;
  position: fixed;
  top: 0;
  opacity: 0.95;
}

.sig {
  background: black;
  color: white;
  padding: 0 $sp1;
  margin: $sp1 $sp2 0 0;
  cursor: default;
  transform: rotateZ(-1deg);

  &:hover {
    cursor: default;
  }
}

.sig:hover ~ .bg {
  visibility: visible !important;
  right: -20vw;
  width: 100vw;
  height: auto;
}
