// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                        CSS VARIABLES                           //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//FONT VARIABLES
$baseFamily: "dico-typewriter";

$baseFont: 1rem;

//SPACERS
$sp1: 0.25rem;
$sp2: 0.5rem;
$sp3: 1rem;
$sp4: 1.5rem;
$sp5: 3rem;
$sp6: 4rem;
$sp7: 5rem;

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            IMPORTS                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
@import "bootstrap/scss/bootstrap.scss";

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            GENERAL                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
html {
}

body {
  font-family: $baseFamily;
  font-weight: $baseWeight;
  font-size: $baseFont;
  overflow-x: hidden;
}

.link {
  color: dimgrey;

  &:hover {
    color: lightgrey;
  }
}

.super {
  vertical-align: super;
}

.rotate {
  transform: rotateZ(1.5deg);
}
